@model GamesViewModel
@{
    ViewData["Title"] = "Games";
}

<h1>Games Editor</h1>

@if (ViewData["Error"] != null)
{
    <p class="alert alert-danger" style="white-space: pre-line">@ViewData["Error"]</p>
}
else
{
    <br />
}
<div class="row justify-content-end">
    <a class="btn btn-success col-2" asp-action="Add">Add</a>
</div>
<br />
<table class="table table-striped ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Preview</th>
            <th>Name</th>
            <th>Developer/Publisher</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Is Released?</th>
            <th>Is DLC?</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    <img src="@item.PreviewUrl" style="max-height: 50px; max-width: 50px" />
                </td>
                <td>@item.Title</td>
                <td>@item.Developer?.Name/@item.Publisher?.Name</td>
                <td>@item.YearOfRelease</td>
                <td>@item.Rating</td>
                <td>@item.Price</td>
                <td>@item.IsReleased</td>
                <td>@item.IsDLC</td>
                <td>
                    <a class="btn btn-warning w-100" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger w-100" type="button" data-bs-toggle="modal" data-bs-target="#Delete_@item.Id" @(item.DLCs.Count != 0 ? "disabled" : "")>Delete</button>
                    <div class="modal fade" id="Delete_@item.Id" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <span>Do you really want to delete @item.Title?</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form method="post" asp-action="Delete">
                                        <input hidden name="Id" value="@item.Id" />
                                        <button class="btn btn-danger w-100" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>