@model GameManageViewModel
@{
    ViewData["Title"] = "Game Editor";
}

@if (ViewData["Error"] != null)
{
    <p class="alert alert-danger" style="white-space: pre-line">@ViewData["Error"]</p>
}
else
{
    <br />
}

<form method="post" asp-action="@(Model.IsEditing ? "Edit" : "Add")">
    <input asp-for="IsEditing" hidden />
    <input asp-for="Game.Id" hidden />
    <div class="mb-3 form-check">
        <label asp-for="Game.IsReleased" class="form-check-label">Is Released?</label>
        <input asp-for="Game.IsReleased" class="form-check-input" type="checkbox">
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.Title" class="col-form-label col-2">Title</label>
        <div class="col-10">
            <input asp-for="Game.Title" class="form-control" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.DeveloperId" class="col-form-label col-2">Developer</label>
        <div class="col-10">
            <select asp-for="Game.DeveloperId" asp-items="@Model.CompaniesSelectList" class="form-control" required>
                <option value="null">None</option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.PublisherId" class="col-form-label col-2">Publisher</label>
        <div class="col-10">
            <select asp-for="Game.PublisherId" asp-items="@Model.CompaniesSelectList" class="form-control">
                <option value="null">None</option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.ParentGameId" class="col-form-label col-2">DLC of (if is)</label>
        <div class="col-10">
            <select asp-for="Game.ParentGameId" asp-items="@Model.GamesSelectList" class="form-control">
                <option value="">None</option>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.YearOfRelease" class="col-form-label col-2">Year of Release</label>
        <div class="col-10">
            <input asp-for="Game.YearOfRelease" class="form-control" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.Rating" class="col-form-label col-2">Rating</label>
        <div class="col-10">
            <input asp-for="Game.Rating" class="form-control" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.Price" class="col-form-label col-2">Price</label>
        <div class="col-10">
            <input asp-for="Game.Price" class="form-control" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Game.PreviewUrl" class="col-form-label col-2">Preview URL</label>
        <div class="col-10">
            <input asp-for="Game.PreviewUrl" class="form-control">
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Game.ContentsUrls" class="form-label">Contents URLs</label>
        <textarea asp-for="Game.ContentsUrls" class="form-control" style="height: 110px"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Game.Description" class="form-label">Description</label>
        <textarea asp-for="Game.Description" class="form-control" required style="height: 110px"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Game.Requirements" class="form-label">Requirements</label>
        <textarea asp-for="Game.Requirements" class="form-control" style="height: 110px"></textarea>
    </div>
    <div class="mb-3">
        <p class="form-label fw-bold">Tags</p>
        <link-checkbox-multi-select property="Tags" items="@Model.Tags"></link-checkbox-multi-select>
    </div>
    <div class="mb-3">
        <p class="form-label fw-bold">Platforms</p>
        <link-checkbox-multi-select property="Platforms" items="@Model.Platforms"></link-checkbox-multi-select>
    </div>
    <div class="mb-5">
        <p class="form-label fw-bold">Catalogs</p>
        <link-checkbox-multi-select property="CatalogsLinks" items="@Model.CatalogsLinks" append-links></link-checkbox-multi-select>
    </div>
    <button type="submit" class="btn btn-primary w-100">@(Model.IsEditing ? "Save" : "Add")</button>
</form>